<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
    <!-- Theme CSS -->
    <link href="css/about.css" rel="stylesheet">
  </head>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Alexander Lock - Junior Developer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a id="nav_about" class="page-scroll" href="/about">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="bg-primary" id="about_me">
        <div class="container">
            <div class=>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"> ABOUT ME</h2>
                    <hr class="light">
                    <div class="picture_profile">
                      <img src="img/profile.jpg">
                    </div>
                    <p class="text-faded"> Hello ! My name is Alexander Lock and thanks for visiting my website. By day I am a Web Developer, and always looking for my next adventure whether it is building a new project, learning a new stack or language or just simply meeting new people. In my spare time I enjoy trying online  coding challenges from sites like Hackerrank or codewars. I am also passionate about fitness,  whether it is lifting weights, taking a yoga class or going for  a run. I am also  proud to say that I have graduated from McGill with a Bachelor of Science.  During my years at schooling a lot of my extracurriculars were revolved around giving back to the community through raising money for  charity,  hosting workshops to teaching others, planning events for other students.   </p>

                </div>
            </div>
        </div>
    </section>






    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
