<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
    <!-- Theme CSS -->
    <link href="css/project.css" rel="stylesheet">
  </head>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Alexander Lock - Junior Developer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/about">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#services">Skills</a>
                    </li>
                    <li>
                        <a id="nav_contact" class="page-scroll" href="/projects_1">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



        <!-- Page Heading -->
           <header>
        <section>
           <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><a href="/javascript">Javascript 30</a></h1>
                <hr>
            </div>
        </div>
        </section>
    </header>
        <!-- /.row -->
<div class="container">
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" src="/img/portfolio/js30/whack.png" alt="Whack - Image">
                <h3>
                    30. Whack A Mole
                </h3>
                <p>A game where moles randomly pops up and you click/whack them to earn points. <a href="https://github.com/AlexL7/Javascript_30/tree/master/30_whack_a_mole">Source</a></p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="/img/portfolio/js30/countdown.png" alt="Countdown - Image">

                <h3>
                    29. Countdown Timer
                </h3>
                <p> Can countdown predetermined lengths of time or can input your own. <a href="https://github.com/AlexL7/Javascript_30/tree/master/29_countdown_timer">Source</a></p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="/img/portfolio/js30/speed.png" alt="">

                <h3>
                   28. Speed Controller
                </h3>
                <p> Video Player with speed bar that allows user to control the speed of the video. <a href="https://github.com/AlexL7/Javascript_30/tree/master/28_speed_controller">Source</a></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="/img/portfolio/js30/drag.png" alt="">

                <h3>
                    27. Drag Bar
                </h3>
                <p> Interactive horizontal scroll bar, that slides and users can click and drag to the approriate section. <a href="https://github.com/AlexL7/Javascript_30/tree/master/27_click_drag">Source</a></p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="/img/portfolio/js30/navFollow.png" alt="">

                <h3>
                   26. Nav Follow
                </h3>
                <p>Nav bar subheadings become highligthed when mouse is over each subsection. The navigation follos the mouse. <a href="https://github.com/AlexL7/Javascript_30/tree/master/26_nav_follow">Source</a></p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="/img/portfolio/js30/stickNav.png" alt="">

                <h3>
                    24. Stick Nav
                </h3>
                <p>Navigation bar that follows page scroll and changes dynamically as it moves down. <a href="https://github.com/AlexL7/Javascript_30/tree/master/24_stick_nav">Source</a></p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="img/portfolio/js30/speech.png" alt="">

                <h3>
                    23. Speech Synthesis
                </h3>
                <p> The voiceinator generates speech from users text input. User can also change language, rate & pitch. <a href="https://github.com/AlexL7/Javascript_30/tree/master/23_speech_synthesis">Source</a> </p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="img/portfolio/js30/highlight.png" alt="">

                <h3>
                    22. Link Hightlight
                </h3>
                <p> Div box follows the mouse when it reachs a new anchor tag. Highlightin the new link. <a href="https://github.com/AlexL7/Javascript_30/tree/master/22_link_highlight">Source</a></p>
            </div>
            <div class="col-md-4 portfolio-item">

                    <img class="img-responsive" src="img/portfolio/js30/detection.png" alt="">
                <h3>
                    20. Speech Detection
                </h3>
                <p> Writes down the words and sentence that have been spoken into the microphone. <a href="https://github.com/AlexL7/Javascript_30/tree/master/20_speech_detection">Source</a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
              <ul class="pagination">
                    <li>
                        <a href="/javascript_3">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="/javascript_1">1</a>
                    </li>
                    <li >
                        <a href="/javascript_2">2</a>
                    </li>
                    <li >
                        <a href="/javascript_3">3</a>
                    </li>

                    <li>
                        <a href="/javascript_2">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->




    </div>



    </section>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
