<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include partials/_nav %>


    <div class "container">
    <h1>Projects</h1>
    <p> Thumbnails of my projects<p>

    <% for(var i=0; i<data.length; i++) { %>
      <p><%= data[i].project_name %><p>
      <% } %>


    </div>
  </body>
</html>
